<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">Super-Agence-Digitale</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Accueil
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('projets_realises-index') }}">Projets-Réalisés</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ad_index') }}">Offres</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nos-Services</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#dev_web">Dév-Web</a>
                    <a class="dropdown-item" href="#mob">Application-mobile</a>
                    <a class="dropdown-item" href="#design">Web-Design</a>
                    <a class="dropdown-item" href="#seo">SEO</a>
                    <a class="dropdown-item" href="#refonte">Refonte</a>
                    <a class="dropdown-item" href="#UX">UX-UI</a>
                    <div class="dropdown-divider"></div>
                    {#<a class="dropdown-item" href="#">Separated link</a>#}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact_new') }}">Contact</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Recherche">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
    </div>
</nav>

